<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RecSys</title>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" integrity="sha512-2bBQCjcnw658Lho4nlXJcc6WkV/UxpE/sAokbXPxQNGqmNdQrWqtw26Ns9kFF/yG792pKR1Sx8/Y1Lf1XN4GKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js" integrity="sha512-HvOjJrdwNpDbkGJIG2ZNqDlVqMo77qbs4Me4cah0HoDrfhrbA+8SBlZn1KrvAQw7cILLPFJvdwIgphzQmMm+Pw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="#">Semantic RecSys</a>
                <!-- ADD THIS -->
            {% if user.is_authenticated %}
                <a class="nav-link text-white ms-3" href="{% url 'dashboard' %}">Dashboard</a>
            {% endif %}
            <div>
                {% if user.is_authenticated %}
                    <span class="text-white me-3">Hello, {{ user.email }}</span>
                    <a href="{% url 'account_logout' %}" class="btn btn-outline-light btn-sm">Logout</a>
                {% else %}
                    <a href="{% url 'account_login' %}" class="btn btn-outline-light btn-sm">Login</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-warning btn-sm">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>